.cardframe {
  width: auto;
  height: fit-content;
  display:grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
  background-color: white;
  box-shadow: 5px 5px 10px black;
  font-size: 1.4rem;
  padding: 10px;
}

.label {
  font-weight:bold;
  text-align: right;
}

.button {
  background-color:midnightblue;
  color: white;
  border-radius: 5px;
  height: 100%;
}

.button:active {
  outline: 2px solid midnightblue;
  background-color: antiquewhite;
  color: midnightblue;
}
