main {
  display:grid;
  grid-template-areas:
    'head head head head'
    'aside art art art'
    'aside art art art'
    'foot foot foot foot';
  grid-template-rows: min-content 1fr 1fr min-content;
  grid-template-columns: 300px 1fr 1fr 1fr;
  height: 100vh;
  width: 100vw;
  font-size: 1.8rem;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  grid-area: head;
  background-color: #222222;
  color: antiquewhite;
  padding: 15px;
}

aside {
  grid-area: aside;
  background-color: midnightblue;
}

article {
  grid-area: art;
  background-color: antiquewhite;
  display: grid;
  overflow: scroll;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 25px;
  padding: 25px;
}

footer {
  grid-area: foot;
  background-color: #222222;
  text-align: center;
  color:antiquewhite;
  padding: 10px;
}